In [22]:
import pandas as pd
import json
import pickle
import numpy as np

In [23]:
from ete3 import NCBITaxa
ncbi = NCBITaxa()

In [24]:
def info_dataframe(df):

    max=0
    
    min=np.inf

    len_df=df.shape[0] 
    print( f"nombre d'échantillon : {len_df}")
    print(f'nombre unique sequence : {len(df["sequence"].value_counts())}')
    for seq in df['sequence']:
        l=len(seq)
        if l>max:
            max=l
        if l<min:
            min=l


    print(f"taille max de séquence : {max}")
    print(f"taille min de sequence : {min}")

    
    print(f'nombre de genus : {len(df["genus"].value_counts())}')


    print(f'nombre de famille : {len(df["family"].value_counts())}')


    print(f'nombre de order : {len(df["order"].value_counts())}')


    
    print(f'nombre de class : {len(df["class"].value_counts())}')


    print(f'nombre de phylum : {len(df["phylum"].value_counts())}')


    print(f'nombre d"espèce : {len(df["species"].value_counts())}')

# 12S

In [4]:
data_12S_0 = pd.read_csv(r'D:\eDNA\data\data\Data12S\PretrainingData\RawData\12s_full.csv').drop(columns=['sub_sequences'])
data_12S_1 = pd.read_csv(r'C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\12S\output.tsv', sep='\t',header=None)

In [5]:
data_12S_1.head(2)

,0,1,2,3,4,5,6,7,8,9
0,LC552399.1.<1.>177,1001925,Eukaryota,Chordata,Actinopteri,Cypriniformes,Xenocyprididae,Nipponocypris,Nipponocypris_temminckii,CACCGCGGTTAAACGAGAGGCCCAAGTTGATAACACCACGGCGTAA...
1,LC340351.1.<1.>170,374848,Eukaryota,Chordata,Actinopteri,Salmoniformes,Salmonidae,Salvelinus,Salvelinus_curilus,CACCGCGGTTATACGAGAGGCCCTAGTTGATAACTACCGGCGTAAA...

In [6]:
data_12S_0.head(2)

,sequence,phylum,class,order,family,genus,species
0,GAACTACAAGTGAAAAACTTCAAACTTAAAGGACTTGACGGTATCC...,Chordata,Lepidosauria,Squamata,Lacertidae,Anatololacerta,Anatololacertadanfordi
1,GCCCCCGTGAGTAATGCCCTGACAGTTTTATATCCTAAAACGAGGA...,Chordata,Actinopteri,Scombriformes,Gempylidae,Promethichthys,Promethichthysprometheus

In [7]:
count_unique_sequence = data_12S_0['sequence'].nunique()
print(count_unique_sequence)
print(data_12S_0.shape)

145588
(206497, 7)

In [8]:
data_12S_0.drop_duplicates(subset=['sequence','genus'], keep='first', inplace=True)
print(data_12S_0.shape)

(145979, 7)

In [9]:
count_unique_sequence_2 = data_12S_1[9].nunique()
print(count_unique_sequence_2)
print(data_12S_1.shape)

171745
(326250, 10)

# 12 fish only

In [10]:
f_data_12S_0 = data_12S_0[(data_12S_0['class']  == 'Actinopteri') | (data_12S_0['class'] == 'Chondrichthyes')]
print(f_data_12S_0.shape)
print(f_data_12S_0['sequence'].nunique())
f_data_12S_0.drop_duplicates(subset=['sequence','genus'], keep='first', inplace=True)
print(f_data_12S_0.shape)

(26927, 7)
26774
(26927, 7)

C:\Users\Auguste Verdier\AppData\Local\Temp\ipykernel_8064\544718451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_data_12S_0.drop_duplicates(subset=['sequence','genus'], keep='first', inplace=True)

In [11]:
f_data_12S_1 = data_12S_1[(data_12S_1[4]  == 'Actinopteri') | (data_12S_1[4] == 'Chondrichthyes')]
print(f_data_12S_1.shape)
print(f_data_12S_1[9].nunique())

(47595, 10)
30223

# Teleo

In [12]:
data_teleo_0 = pd.read_csv(r"D:\eDNA\data\data\Data12S\FinetuningData\RawData\full_dataset_teleo.csv")
data_teleo_1 = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_4.5\teleo_output.tsv", sep='\t',header=None)
data_teleo_2 = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_4.5\pga_4.5\teleo_pga_45_output.tsv", sep='\t',header=None)
data_teleo_3 = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_6\teleo_output.tsv", sep='\t',header=None)
data_teleo_4 = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_6\pga_6\teleo_pga_6_output.tsv", sep='\t',header=None)


data_teleo_1.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
data_teleo_2.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
data_teleo_3.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
data_teleo_4.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)

In [13]:
data_teleo_0.head(2)

,sequence,phylum,class,order,family,genus,species
0,CCCCAAACAATAAACACACGAAACTAACTAAAATGCTTCGAACCGT...,Chordata,Actinopteri,Scombriformes,Gempylidae,Promethichthys,Promethichthysprometheus
1,CTTCAATAGCACACTTTAATTAATAATCCTTAGAAGCACCTTAGAA...,Chordata,Amphibia,Anura,Mantellidae,Guibemantis,Guibemantisliber

In [14]:
data_teleo_1.head(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
0,AB054127.1.71.1024,1604542,Eukaryota,Chordata,Actinopteri,Siluriformes,Bagridae,Tachysurus,Tachysurus_tokiensis,CCCCACATTTATAACTACCCAATATATAATAAAACACATAATTACA...
1,AB558943.1.<1.890,887481,Eukaryota,Chordata,Amphibia,Anura,Dicroglossidae,Limnonectes,Limnonectes_jarujini,CTTCAACAGCACATAATGTGTATTTAACAATTTTTGCACTTTAGAA...

In [15]:
data_teleo_2.head(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
0,AB054127.1.71.1024,1604542,Eukaryota,Chordata,Actinopteri,Siluriformes,Bagridae,Tachysurus,Tachysurus_tokiensis,CCCCACATTTATAACTACCCAATATATAATAAAACACATAATTACA...
1,AB558943.1.<1.890,887481,Eukaryota,Chordata,Amphibia,Anura,Dicroglossidae,Limnonectes,Limnonectes_jarujini,CTTCAACAGCACATAATGTGTATTTAACAATTTTTGCACTTTAGAA...

In [16]:
data_teleo_3.head(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
0,AB054127.1.71.1024,1604542,Eukaryota,Chordata,Actinopteri,Siluriformes,Bagridae,Tachysurus,Tachysurus_tokiensis,CCCCACATTTATAACTACCCAATATATAATAAAACACATAATTACA...
1,AB558943.1.<1.890,887481,Eukaryota,Chordata,Amphibia,Anura,Dicroglossidae,Limnonectes,Limnonectes_jarujini,CTTCAACAGCACATAATGTGTATTTAACAATTTTTGCACTTTAGAA...

In [17]:
data_teleo_4.head(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
0,AB054127.1.71.1024,1604542,Eukaryota,Chordata,Actinopteri,Siluriformes,Bagridae,Tachysurus,Tachysurus_tokiensis,CCCCACATTTATAACTACCCAATATATAATAAAACACATAATTACA...
1,AB558943.1.<1.890,887481,Eukaryota,Chordata,Amphibia,Anura,Dicroglossidae,Limnonectes,Limnonectes_jarujini,CTTCAACAGCACATAATGTGTATTTAACAATTTTTGCACTTTAGAA...

In [18]:
info_dataframe(data_teleo_0)

nombre d'échantillon : 114567
nombre unique sequence : 18640
taille max de séquence : 808
taille min de sequence : 18
nombre de genus : 6480
nombre de famille : 1372
nombre de order : 258
nombre de class : 46
nombre de phylum : 16
nombre d"espèce : 17068

In [19]:
info_dataframe(data_teleo_1)

nombre d'échantillon : 118241
nombre unique sequence : 19124
taille max de séquence : 808
taille min de sequence : 18
nombre de genus : 6630
nombre de famille : 1392
nombre de order : 262
nombre de class : 46
nombre de phylum : 16
nombre d"espèce : 17568

In [20]:
info_dataframe(data_teleo_2)

nombre d'échantillon : 124127
nombre unique sequence : 20949
taille max de séquence : 808
taille min de sequence : 12
nombre de genus : 6668
nombre de famille : 1396
nombre de order : 263
nombre de class : 46
nombre de phylum : 16
nombre d"espèce : 18123

In [21]:
info_dataframe(data_teleo_3)

nombre d'échantillon : 142692
nombre unique sequence : 24475
taille max de séquence : 1925
taille min de sequence : 13
nombre de genus : 10717
nombre de famille : 2382
nombre de order : 481
nombre de class : 111
nombre de phylum : 39
nombre d"espèce : 26099

In [22]:
info_dataframe(data_teleo_4)

nombre d'échantillon : 184758
nombre unique sequence : 44964
taille max de séquence : 1925
taille min de sequence : 13
nombre de genus : 12234
nombre de famille : 2579
nombre de order : 521
nombre de class : 112
nombre de phylum : 39
nombre d"espèce : 32041

# 12S only fish

In [21]:
f_data_teleo_0 = data_teleo_0[(data_teleo_0['class'] == 'Actinopteri') | (data_teleo_0['class'] == 'Chondrichthyes')]
f_data_teleo_1 = data_teleo_1[(data_teleo_1['class'] == 'Actinopteri') | (data_teleo_1['class'] == 'Chondrichthyes')]
f_data_teleo_2 = data_teleo_2[(data_teleo_2['class'] == 'Actinopteri') | (data_teleo_2['class'] == 'Chondrichthyes')]
f_data_teleo_3 = data_teleo_3[(data_teleo_3['class'] == 'Actinopteri') | (data_teleo_3['class'] == 'Chondrichthyes')]
f_data_teleo_4 = data_teleo_4[(data_teleo_4['class'] == 'Actinopteri') | (data_teleo_4['class'] == 'Chondrichthyes')]

In [22]:
info_dataframe(f_data_teleo_0)

nombre d'échantillon : 18687
nombre unique sequence : 7470
taille max de séquence : 129
taille min de sequence : 25
nombre de genus : 2728
nombre de famille : 499
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 7425

In [23]:
info_dataframe(f_data_teleo_1)

nombre d'échantillon : 19810
nombre unique sequence : 7692
taille max de séquence : 129
taille min de sequence : 25
nombre de genus : 2768
nombre de famille : 503
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 7647

In [24]:
info_dataframe(f_data_teleo_2)

nombre d'échantillon : 23226
nombre unique sequence : 8495
taille max de séquence : 129
taille min de sequence : 19
nombre de genus : 2783
nombre de famille : 504
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 7981

In [25]:
info_dataframe(f_data_teleo_3)

nombre d'échantillon : 19869
nombre unique sequence : 7734
taille max de séquence : 663
taille min de sequence : 25
nombre de genus : 2771
nombre de famille : 503
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 7666

In [26]:
info_dataframe(f_data_teleo_4)

nombre d'échantillon : 36883
nombre unique sequence : 15920
taille max de séquence : 663
taille min de sequence : 25
nombre de genus : 3249
nombre de famille : 528
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 10305

In [72]:
f_data_teleo_4["ID"].nunique()

10471

In [28]:
unique_sequences = f_data_teleo_4[~f_data_teleo_4['sequence'].isin(f_data_teleo_0['sequence']) &
                                ~f_data_teleo_4['sequence'].isin(f_data_teleo_1['sequence']) &
                                ~f_data_teleo_4['sequence'].isin(f_data_teleo_2['sequence']) &
                                ~f_data_teleo_4['sequence'].isin(f_data_teleo_3['sequence'])]

unique_sequences = unique_sequences.drop_duplicates(subset='sequence', keep='first')
info_dataframe(unique_sequences)

nombre d'échantillon : 7533
nombre unique sequence : 7533
taille max de séquence : 479
taille min de sequence : 63
nombre de genus : 2096
nombre de famille : 450
nombre de order : 79
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 5066

In [51]:
unique_sequences.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_6\pga_6\unique_sequences.csv", sep='\t', index=False, header=True)

In [52]:
unique_sequences = f_data_teleo_0[~f_data_teleo_0['sequence'].isin(f_data_teleo_4['sequence'])]
print(unique_sequences["sequence"].unique())

['CCCCAAACTAGCCAAATTCATTTAAATAAAAACTTATTATAGTAAAGGGGAGGCAAGTCGTAA'
 'CTCCAAGCCTACTATTCTCAATAACTAATATAACACCAACTGCAAAGGAGAGGCAAGTCGTAA'
 'CCTCAAGTACCAGGATGCGTACTACCAACCATATTGCTATAACGCACAGACATATGAGAGGAGATAAGTCGTAA'
 'CCCCAAGCTTAAATAAAAAANTTTATAATAACCTAAAAANGCAAAGGGGAGGCAAGTCGTAA']

# Fish Base

In [36]:
data_teleo_fb = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\teleo_fb_45_output.tsv", sep='\t',header=None)
data_teleo_fb.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
data_teleo_fb.sample(2)


fb_12S = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\output.tsv", sep='\t',header=None)
fb_12S.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
print(fb_12S.shape)

(869295, 10)

In [37]:
info_dataframe(fb_12S)

nombre d'échantillon : 869295
nombre unique sequence : 537425
taille max de séquence : 25498
taille min de sequence : 25
nombre de genus : 4560
nombre de famille : 565
nombre de order : 86
nombre de class : 5
nombre de phylum : 1
nombre d"espèce : 44246

In [74]:
info_dataframe(data_teleo_fb)

nombre d'échantillon : 21834
nombre unique sequence : 8396
taille max de séquence : 129
taille min de sequence : 13
nombre de genus : 2857
nombre de famille : 516
nombre de order : 86
nombre de class : 5
nombre de phylum : 1
nombre d"espèce : 8516

In [75]:
data_teleo_fb.sample(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
3601,MH301078,8167,Eukaryota,Chordata,Actinopteri,Perciformes,Percidae,Perca,Perca_flavescens,CCCCAAGCCTACCAACTAAAATAATTAAAACCCTATAATTGCGAAG...
11923,EF100186,7781,Eukaryota,Chordata,Chondrichthyes,Rajiformes,Rajidae,Raja,Raja_clavata,CCTCAACTTACATCACTCCATTTTATAAATAACTTTTTATCACAAG...

In [77]:
f_data_teleo_0[f_data_teleo_0['genus'] == "Gadus"]['species']

,sequence,phylum,class,order,family,genus,species
4498,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusogac
6737,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmacrocephalus
7154,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
7155,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
7156,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
...,...,...,...,...,...,...,...
35755,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
35792,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
36026,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadusmorhua
36365,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gaduschalcogrammus
36870,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gaduschalcogrammus

In [33]:
f_data_teleo_fb=data_teleo_fb[(data_teleo_fb['class'] == 'Actinopteri') | (data_teleo_fb['class'] == 'Chondrichthyes')]
f_data_teleo_fb

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
0,KY213961,270547,Eukaryota,Chordata,Actinopteri,NaN,Centropomidae,Lates,Lates_japonicus,CCCCGAGCACCCGGCATAACATAAATAAAACCAAACGAACGCGAAG...
1,KY213962,8187,Eukaryota,Chordata,Actinopteri,NaN,Centropomidae,Lates,Lates_calcarifer,CCCCATAGCACCCGGCTAAAACATAAATAAAGCACAAACGAACGCT...
2,KY213963,29147,Eukaryota,Chordata,Actinopteri,NaN,Centropomidae,Lates,Lates_niloticus,CCCCAAGCACCCGGCATAATATACATAAAACCAAACGAACGCGAAG...
3,KY213964,329030,Eukaryota,Chordata,Actinopteri,NaN,Centropomidae,Psammoperca,Psammoperca_waigiensis,CCCCAAGACAGTAAAACGCAAGTAACTAAACCCAAACACAACACCA...
4,KY228977,1001936,Eukaryota,Chordata,Actinopteri,Cypriniformes,Gobionidae,Microphysogobio,Microphysogobio_amurensis,CCCCTGTCAACACGCATTATAAATACATAATATCAAAGCACTGACA...
...,...,...,...,...,...,...,...,...,...,...
21829,PP533446,192602,Eukaryota,Chordata,Actinopteri,Carangiformes,Carangidae,Trachurus,Trachurus_murphyi,CCCCAAGCTCCTGGACCCTAATCCTACTTAAACCGTAACAAATGCG...
21830,PP739582,1604517,Eukaryota,Chordata,Actinopteri,Gobiiformes,Gobiidae,Gymnogobius,Gymnogobius_scrobiculatus,CCCCAAGATAAAGACCAAATGTAAATAAGACTAAACTTACAAAAAG...
21831,OQ581844,1812872,Eukaryota,Chordata,Actinopteri,Anguilliformes,Synaphobranchidae,Synaphobranchus,Synaphobranchus_brevidorsalis,CCTCGAATAAATTCAAAACATCTATAAGCACTAAAACACAAGAAAG...
21832,PQ182885,240697,Eukaryota,Chordata,Actinopteri,Syngnathiformes,Syngnathidae,Syngnathus,Syngnathus_temminckii,CCCCTAATGTCTCATAGAATTAAGTAAAACACCTGAAAAATTAAGG...
21833,OP177726,8201,Eukaryota,Chordata,Actinopteri,Perciformes,Zoarcidae,Lycodichthys,Lycodichthys_dearborni,CCCCAAGCCCACCAACTTAATTAACTAAACCCTAATAATCGCAAAG...

In [77]:
unique_sequences = f_data_teleo_fb[~f_data_teleo_fb['sequence'].isin(f_data_teleo_0['sequence'])]# &
                                # ~data_teleo_fb['sequence'].isin(f_data_teleo_1['sequence']) &
                                # ~data_teleo_fb['sequence'].isin(f_data_teleo_2['sequence']) &
                                # ~data_teleo_fb['sequence'].isin(f_data_teleo_3['sequence']) &
                                # ~data_teleo_fb['sequence'].isin(f_data_teleo_4['sequence'])]
print(unique_sequences["sequence"].nunique())

unique_sequences = unique_sequences.drop_duplicates(subset='sequence', keep='first')
print(unique_sequences.shape)
unique_sequences.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\unique_sequences.csv", sep='\t', index=False, header=True)

971
(971, 10)

# Total Teleo

In [53]:
total_teleo = pd.concat([f_data_teleo_0,    f_data_teleo_1, f_data_teleo_fb]) # f_data_teleo_4,f_data_teleo_2,
info_dataframe(total_teleo)
drop_duplicates = total_teleo.drop_duplicates( keep='first')
print(drop_duplicates.shape)
drop_duplicates_genus = total_teleo.drop_duplicates(subset=['genus','sequence'], keep='first')
print(drop_duplicates_genus.shape)

nombre d'échantillon : 60041
nombre unique sequence : 8445
taille max de séquence : 129
taille min de sequence : 13
nombre de genus : 2864
nombre de famille : 509
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 15989
(50482, 10)
(8938, 10)

In [54]:
f_data_teleo_0
info_dataframe(f_data_teleo_0)
print(f_data_teleo_0.shape)
print(f_data_teleo_0["sequence"].nunique())
drop_duplicates = f_data_teleo_0.drop_duplicates( keep='first')
print(drop_duplicates.shape)
drop_duplicates_genus = f_data_teleo_0.drop_duplicates(subset=['genus','sequence'], keep='first')
print(drop_duplicates_genus.shape)

nombre d'échantillon : 18687
nombre unique sequence : 7470
taille max de séquence : 129
taille min de sequence : 25
nombre de genus : 2728
nombre de famille : 499
nombre de order : 81
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 7425
(18687, 7)
7470
(9128, 7)
(7814, 7)

# error 3 teleo

In [25]:
teleo_12S= pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\12S\teleo_12S_3\output_pga_3.tsv", sep='\t',header=None)
teleo_12S.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
teleo_12S.sample(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
116555,MG596780.1.<1.>474,2057240,Eukaryota,Chordata,Amphibia,Anura,Hylidae,Hyloscirtus,Hyloscirtus_callipeza,CTTCGCAGCAATAATATAGTATTTAACACACAAAAGCACAGTAGAA...
68887,KX844614.1.650.1603,9606,Eukaryota,Chordata,Mammalia,Primates,Hominidae,Homo,Homo_sapiens,CCTCAAGTATACTTCAAAGGACATTTAACTAAAACCCCTACGCATT...

In [26]:
teleo_fb = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\teleo_fb_3\output_pga_3.tsv", sep='\t',header=None)
teleo_fb.rename(columns={0:'ID_ncbi', 1:'ID', 2:'kingdom', 3:'phylum', 4:'class', 5:'order', 6:'family', 7:'genus', 8:'species', 9:'sequence'}, inplace=True)
teleo_fb.sample(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
2600,MF621711,147949,Eukaryota,Chordata,Actinopteri,Centrarchiformes,Centrarchidae,Micropterus,Micropterus_dolomieu,CCCCAAGCCCAAGAACTTTGATAACTAAAATCCCATAATCGCAAAG...
17682,OQ210167,8049,Eukaryota,Chordata,Actinopteri,Gadiformes,Gadidae,Gadus,Gadus_morhua,CTCCAAATAAACCCTAGATATTACCTAAAATGCTTTTTATAATAAG...

In [27]:
info_dataframe(teleo_12S)

nombre d'échantillon : 117261
nombre unique sequence : 18624
taille max de séquence : 139
taille min de sequence : 12
nombre de genus : 5361
nombre de famille : 1071
nombre de order : 201
nombre de class : 30
nombre de phylum : 11
nombre d"espèce : 15562

In [28]:
info_dataframe(teleo_fb)

nombre d'échantillon : 25513
nombre unique sequence : 9237
taille max de séquence : 129
taille min de sequence : 11
nombre de genus : 2862
nombre de famille : 515
nombre de order : 85
nombre de class : 5
nombre de phylum : 1
nombre d"espèce : 8901

In [29]:
teleo_fb['class'].unique()

array(['Actinopteri', 'Chondrichthyes', 'Hyperoartia', 'Myxini', nan,
       'Cladistia'], dtype=object)

In [30]:
fish_12S_teleo = teleo_12S[teleo_12S['class'].isin(teleo_fb['class'].unique())]
info_dataframe(fish_12S_teleo)

nombre d'échantillon : 23990
nombre unique sequence : 8734
taille max de séquence : 129
taille min de sequence : 19
nombre de genus : 2869
nombre de famille : 528
nombre de order : 88
nombre de class : 5
nombre de phylum : 2
nombre d"espèce : 8191

In [31]:
all_teleo = pd.concat([fish_12S_teleo, teleo_fb])
teleo_nan = all_teleo[all_teleo['class'].isna()]

In [32]:
info_dataframe(all_teleo)

nombre d'échantillon : 49503
nombre unique sequence : 9564
taille max de séquence : 129
taille min de sequence : 11
nombre de genus : 2961
nombre de famille : 533
nombre de order : 88
nombre de class : 5
nombre de phylum : 2
nombre d"espèce : 9192

In [32]:
teleo_nan = all_teleo[all_teleo['class'].isna()]
teleo_nan.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\teleo_nan.csv", sep=',', index=False, header=True)

- Coelacanthiformes -> Sarcopterygii
- Testudines -> no
- Crocodylia -> no
- Ceratodontiformes -> Sarcopterygii
- KM078797 -> no
- diplora -> no
- AB626856 -> Eukaryota,Chordata,Actinopteri,Cypriniformes,Leuciscidae,Pseudaspius,Pseudaspius_sachalinensis,
- AP011270 -> Eukaryota,Chordata,Actinopteri,Cypriniformes,Leuciscidae,Pseudaspius,Pseudaspius_sachalinensis,

In [33]:
nan_correction = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\fish_base\teleo_nan.csv", sep=',')
nan_correction.sample(2)

,ID_ncbi,ID,kingdom,phylum,class,order,family,genus,species,sequence
129,MF489945,7892,Eukaryota,Chordata,Sarcopterygii,Ceratodontiformes,Ceratodontidae,Neoceratodus,Neoceratodus_forsteri,CCTCAATAACAACCTAAACAGTAAATAACTAAACATAATTAAAATA...
70,AP012197.1.70.1051,7897,Eukaryota,Chordata,Sarcopterygii,Coelacanthiformes,Coelacanthidae,Latimeria,Latimeria_chalumnae,CCTCACCCAAAATCGGCCCCATCTTTTAATAAACAAAAAACCAAGC...

In [34]:
nan_correction['class'].unique()

array(['Sarcopterygii', 'Actinopteri'], dtype=object)

In [35]:
cleaned_teleo = pd.concat([all_teleo.dropna(subset=['class']), nan_correction])
info_dataframe(cleaned_teleo)

nombre d'échantillon : 48901
nombre unique sequence : 9351
taille max de séquence : 129
taille min de sequence : 11
nombre de genus : 2880
nombre de famille : 516
nombre de order : 85
nombre de class : 6
nombre de phylum : 1
nombre d"espèce : 9001

In [37]:
cleaned_teleo['class'].value_counts()
print(cleaned_teleo['sequence'].nunique())
print(len(cleaned_teleo))
cleaned_teleo_correct_len = cleaned_teleo[cleaned_teleo['sequence'].str.len() >= 20]


cleaned_teleo_no_N = cleaned_teleo_correct_len[cleaned_teleo_correct_len['sequence'].str.contains('N') == False]


print(len(cleaned_teleo_no_N))

print(cleaned_teleo_no_N['sequence'].nunique())

9351
48901
48668
9278

In [42]:

cleaned_teleo_no_N.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_fb_gb_clean_N_len_class.csv", sep=',', index=False, header=True)

# Clean nan

In [39]:
dic_family_to_order = {"Scatophagidae": 'Perciformes',
                       'Sillaginidae' : 'Perciformes',
                       'Plesiopidae'  : 'Perciformes',
                       'Pomacanthidae' : 'Perciformes',
                       "Sciaenidae": "Acanthuriformes",
                        "Ambassidae"  : "Perciformes",
                        "Pseudochromidae"  : "Perciformes",
                        "Polycentridae" : "Perciformes",
                        "Opistognathidae"  : "Perciformes",
                         "Toxotidae" : "Perciformes",
                         'Pristiophoridae' : 'Pristiophoriformes',
                         'Platyrhinidae' : 'Torpediniformes',
                         'Emmelichthyidae' : 'Acanthuriformes',
                         'Pomacentridae':  "Perciformes",
                         'Embiotocidae' :'Perciformes',
                         'Siganidae': 'Perciformes',
                         'Squatinidae' : 'Squatiniformes',
                         "Centropomidae" : "Perciformes" ,
                        "Malacanthidae" : "Perciformes" ,
                        'Polynemidae' :  'Perciformes' , 
                        'Moronidae' :  'Perciformes' ,
                        'Menidae' :  'Perciformes' ,
                        "Lactariidae" : "Perciformes",
                        "Sphyraenidae" : "Perciformes",
                        'Callanthiidae' : 'Perciformes',
                        "Monodactylidae" : "Perciformes"}

dic_order_to_class = {'Coelacanthiformes': "Sarcopterygii",
                        'Ceratodontiformes' : 'Sarcopterygii'}

dic_genus_to_family = {'Percalates': 'Percichthyidae',
                       'Paedocypris': 'Cyprinidae',
                       'Bembrops' : 'Percophidae',
                       'Conorhynchos' : 'Pimelodidae',
                       'Lepidogalaxias' :'Lepidogalaxiidae',
                       }
def fill_nan(df):
    df = df.copy()
    for key,item in dic_family_to_order.items():
        idx = df[df['family']==key]
        df.loc[idx.index, 'order'] = item
    for key,item in dic_order_to_class.items():
        idx = df[df['order']==key]
        df.loc[idx.index, 'class'] = item
    for key,item in dic_genus_to_family.items():
        idx = df[df['genus']==key]
        df.loc[idx.index, 'family'] = item

    
    df =df.dropna()
    
    

    return df

In [40]:
# teleo = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_fb_gb_clean_N_len_class.csv", sep=',')
teleo = fill_nan(cleaned_teleo_no_N)
info_dataframe(teleo)
teleo.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_final.csv", sep=',', index=False, header=True)

nombre d'échantillon : 48524
nombre unique sequence : 9267
taille max de séquence : 129
taille min de sequence : 20
nombre de genus : 2871
nombre de famille : 516
nombre de order : 87
nombre de class : 6
nombre de phylum : 1
nombre d"espèce : 8914

In [45]:
teleo[teleo['species'].isna()]

Empty DataFrame
Columns: [ID_ncbi, ID, kingdom, phylum, class, order, family, genus, species, sequence]
Index: []

In [27]:
teleo.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_fb_gb_order_clean.csv")

In [47]:
teleo['class'].value_counts()

class
Actinopteri       42825
Chondrichthyes     5189
Cladistia           222
Sarcopterygii       167
Hyperoartia         105
Myxini               16
Name: count, dtype: int64

In [41]:
teleo_class_A_C = teleo[~(teleo['class'] == 'Actinopteri') & ~(teleo['class'] == 'Chondrichthyes')]
teleo_class_A_C = teleo[(teleo['class'] == 'Actinopteri') | (teleo['class'] == 'Chondrichthyes')]
info_dataframe(teleo_class_A_C)

nombre d'échantillon : 47759
nombre unique sequence : 9203
taille max de séquence : 129
taille min de sequence : 20
nombre de genus : 2854
nombre de famille : 508
nombre de order : 82
nombre de class : 2
nombre de phylum : 1
nombre d"espèce : 8861

In [82]:
teleo_class_A_C.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_class_A_C.csv", sep=',', index=False, header=True)

In [50]:
data= pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_class_A_C.csv")
data_2 = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_class_A_C_bis.tsv", sep='\t')

# info_dataframe(data)

# info_dataframe(data_2)
print(data['order'].value_counts())
print(data_2['order'].value_counts())
# data_no_in_data2 = data[~data['sequence'].isin(data_2['sequence'])]

order
Cypriniformes          7713
Perciformes            6004
Gobiiformes            3064
Siluriformes           2706
Carcharhiniformes      2335
                       ...
Amiiformes                6
Hiodontiformes            6
Stylephoriformes          4
Echinorhiniformes         2
Lepidogalaxiiformes       2
Name: count, Length: 82, dtype: int64
order
Cypriniformes          7523
Perciformes            6766
Gobiiformes            2993
Siluriformes           2667
Carcharhiniformes      2306
                       ...
Amiiformes                6
Hiodontiformes            6
Stylephoriformes          4
Echinorhiniformes         2
Lepidogalaxiiformes       2
Name: count, Length: 82, dtype: int64

# Split data fold

class
Actinopteri       42825
Chondrichthyes     5189
Name: count, dtype: int64

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, KFold
import math
import json


# data = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_class_A_C.csv")


def create_k_folds(df, n_splits=6):
    df = df.copy()
    for k in range(n_splits):
        # fill the fold column with -1
        df[f'fold_{k}'] = "none"
    

    families = df['family'].unique()

    for family in families:

        family_data = df[df['family'] == family]
        genus_labels = family_data['genus'].unique()
        genus_number = family_data['genus'].nunique()

        if genus_number ==1:
            
            # exclude family with only one genus
            continue

        elif genus_number < n_splits :
            skf = KFold(n_splits=genus_number)
            
        else :
            skf = KFold(n_splits=n_splits)
        


        random_fold_assigment = np.arange(min(genus_number, n_splits))
        np.random.shuffle(random_fold_assigment)
       
        for fold, (train_index, val_index) in enumerate(skf.split(genus_labels)):

           

            val_genus = genus_labels[val_index]
            train_genus = genus_labels[train_index]
           
            val_data = df[df['genus'].isin(val_genus)]

            if len(val_data)>1:
                # if there are more than 1 sample in the validation set, 50/50 split it into validation and test
                val_index , test_index = train_test_split(val_data.index, test_size=0.5, random_state=42) #  stratify=df.iloc[val_index]['family'],
            else:
                # if there is only one sample in the validation set, use it as test
                val_index = []
                test_index = val_data.index
            # print(val_index)
            
            df.loc[val_index, f'fold_{random_fold_assigment[fold]}'] = 'val'
            # print('fold : ',fold)
            # print('val',pd.concat([df.loc[val_index],df.loc[test_index]])['genus'].nunique())

            df.loc[test_index, f'fold_{random_fold_assigment[fold]}'] = 'test'
     

            df.loc[df['genus'].isin(train_genus), f'fold_{random_fold_assigment[fold]}'] = 'train'

        #     print('train',df.loc[family_data.index[train_index]]['genus'].nunique())
        

        if fold < n_splits-1:
            
            a=np.arange(fold+1)
            np.random.shuffle(a)
            dulicate = np.tile(a, math.ceil((n_splits-fold-1)/(fold+1)))[:n_splits-fold-1]
            for i,f in enumerate(range(fold + 1, n_splits)):

                df.loc[family_data.index, f'fold_{f}'] = df.loc[family_data.index, f'fold_{dulicate[i]}'].copy()
        
    
    return df

In [85]:
df_with_folds = create_k_folds(data)

In [86]:
df_with_folds.sample(2)
len(df_with_folds)

48014

In [87]:
df_with_folds['fold_2'].value_counts()

fold_2
train    37360
test      4287
val       4214
none      2153
Name: count, dtype: int64

In [102]:
kold =0
val =df_with_folds[df_with_folds[f'fold_{kold}'] == 'val']
train =df_with_folds[df_with_folds[f'fold_{kold}'] == 'train']
test =df_with_folds[df_with_folds[f'fold_{kold}'] == 'test']
val_test = pd.concat([val,test])

print(train['genus'].nunique() / (train['genus'].nunique() + val_test['genus'].nunique() ))
assert set(val_test['genus']).isdisjoint(set(train['genus']))
# print(df_with_folds.shape[0], val.shape[0] + train.shape[0] + test.shape[0])
print((val.shape[0] + test.shape[0]) /(val.shape[0] + train.shape[0] + test.shape[0]))
print(train.shape[0] /(val.shape[0] + train.shape[0] + test.shape[0]))

0.7947269303201506
0.23859052353851856
0.7614094764614814

In [103]:
df_with_folds.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_final_with_folds_clean.csv", sep=',', index=False, header=True)

# save fold

In [106]:
import pandas as pd
import os
import json

df_with_folds = pd.read_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_final_with_folds_clean.csv")
df = df_with_folds.drop_duplicates(subset=['sequence','genus'], keep='first')
df.to_csv(r"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\crabs\teleo_final_with_folds_clean_dedup.csv", sep=',', index=False, header=True)
os.makedirs(f"C:/Users/Auguste Verdier/Desktop/TeleoClassification/data/teleo_clean", exist_ok=True)
for fold in range(6):
    os.makedirs(f"C:/Users/Auguste Verdier/Desktop/TeleoClassification/data/teleo_clean", exist_ok=True)
    os.makedirs(f"C:/Users/Auguste Verdier/Desktop/TeleoClassification/data/teleo_clean/fold_{fold+1}", exist_ok=True)

    train = df_with_folds[df_with_folds[f'fold_{fold}'] == 'train']
    val = df_with_folds[df_with_folds[f'fold_{fold}'] == 'val']
    # [['sequence','order','family']].drop_duplicates(subset=['family'], keep='first')
    test = df_with_folds[df_with_folds[f'fold_{fold}'] == 'test']
    # [['sequence','order','family']].drop_duplicates(subset=['family'], keep='first')
    json_data = pd.concat([val,test])['genus'].unique().tolist()
    json.dump(json_data, open(rf"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_clean\fold_{fold+1}\test_genus.json", 'w'))
    
    train = train.drop_duplicates(subset=['sequence','family'], keep='first')
    val = val.drop_duplicates(subset=['sequence','family'], keep='first')
    test = test.drop_duplicates(subset=['sequence','family'], keep='first')

    val[['sequence', 'order' , 'family', 'genus','species']].to_csv(rf"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_clean\fold_{fold+1}\val.csv", sep=',', index=False, header=True)
    train[['sequence', 'order' , 'family', 'genus', 'species']].to_csv(rf"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\teleo_clean\fold_{fold+1}\train.csv", sep=',', index=False, header=True)
    test[['sequence', 'order' , 'family', 'genus', 'species']].to_csv(rf"C:/Users/Auguste Verdier\Desktop/TeleoClassification\data\teleo_clean\fold_{fold+1}\test.csv", sep=',', index=False, header=True)
    
    json_data = pd.concat([val,test])
    # val.to_csv(rf"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\fold_{fold+1}\val.csv", sep=',', index=False, header=True)
    # train.to_csv(rf"C:\Users\Auguste Verdier\Desktop\TeleoClassification\data\fold_{fold+1}\train.csv", sep=',', index=False, header=True)
    # test.to_csv(rf"C:/Users\Auguste Verdier\Desktop\TeleoClassification\data\fold_{fold+1}\test.csv", sep=',', index=False, header=True)